# Copy các giá trị này vào network.yaml trước khi chạy.
# Không commit file chứa secret thật.

FABRIC_VERSION=2.5.4
EXTERNAL_URL_SUFFIX=CHANGE_ME_DOMAIN
K8S_CONTEXT=CHANGE_ME_K8S_CONTEXT
K8S_CONFIG=/home/bevel/build/config
VAULT_ADDR=CHANGE_ME_VAULT_ADDR
VAULT_ROOT_TOKEN=CHANGE_ME_VAULT_ROOT_TOKEN
GIT_USERNAME=CHANGE_ME_GIT_USERNAME
GIT_TOKEN=CHANGE_ME_GIT_TOKEN
GIT_EMAIL=CHANGE_ME_GIT_EMAIL
GIT_REPO=https://github.com/CHANGE_ME_GIT_USERNAME/bevel.git
GIT_REPO_NO_PROTOCOL=github.com/CHANGE_ME_GIT_USERNAME/bevel.git
